<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://abs.twimg.com/a/1381897480/t1/css/t1_core.bundle.css" type="text/css">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1381897480/t1/css/t1_more.bundle.css" type="text/css">
    <style type="text/css">
        .stream-item-header .avatar, .permalink-header .avatar {
            margin-left: -3px;
            margin-right: 3px;
        }
    </style>
</head>
<body>

    <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet has-cards" data-feedback-key="stream_status_390721487247650816" data-tweet-id="390721487247650816" data-item-id="390721487247650816" data-screen-name="Olimex" data-name="OLIMEX Ltd" data-user-id="38416919"
        data-expanded-footer="
            <div class=&quot;js-tweet-details-fixer tweet-details-fixer&quot;>
                <div class=&quot;card2 &quot; data-card2-name=&quot;photo&quot;>
                    <div class=&quot;js-macaw-cards-iframe-container&quot;
                            data-src=&quot;/i/cards/tfw/v1/390721487247650816&quot;
                            data-card-name=&quot;photo&quot;
                            data-card-url=&quot;http://t.co/khl5QU5SLO&quot;
                            data-publisher-id=&quot;823905&quot;
                            data-creator-id=&quot;38416919&quot;>
                    </div>

                </div>

                <div class=&quot;entities-media-container &quot; style=&quot;min-height:0px&quot;></div>

                <div class=&quot;js-machine-translated-tweet-container&quot;></div>
                <div class=&quot;js-tweet-stats-container tweet-stats-container &quot;></div>

                <div class=&quot;client-and-actions&quot;>
                    <span class=&quot;metadata&quot;>
                        <span title=&quot;11:10 PM - 16 Oct 13&quot;>11:10 PM - 16 Oct 13</span>
                        &amp;middot; <a class=&quot;permalink-link js-permalink js-nav&quot; href=&quot;/Olimex/status/390721487247650816&quot;  tabindex=&quot;-1&quot;>Details</a>
                        <span class=&quot;flag-container flag-cards&quot;>
                            <button type=&quot;button&quot; class=&quot;flaggable btn-link&quot;>
                            Flag media
                            </button>

                            <span class=&quot;flagged hidden&quot;>
                            Flagged
                                <span>
                                    <a target=&quot;_blank&quot; href=&quot;//support.twitter.com/articles/20069937&quot;>
                                    (learn more)
                                    </a>
                                </span>
                            </span>
                        </span>
                    </span>
                </div>
            </div>"
            data-you-follow="true" data-you-block="false">

        <span class="icon dogear"></span>
        <div class="content">
            <div class="stream-item-header">
                <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/Olimex" data-user-id="38416919">
                    <img class="avatar js-action-profile-avatar" src="https://si0.twimg.com/profile_images/761655605/TWITTER_normal.jpg" alt="">
                    <strong class="fullname js-action-profile-name show-popup-with-id">OLIMEX Ltd</strong>
                    <span>‏</span>
                    <span class="username js-action-profile-name"><s>@</s><b>Olimex</b></span>

                </a>
                <small class="time">
                    <a href="/Olimex/status/390721487247650816" class="tweet-timestamp js-permalink js-nav" title="11:10 PM - 16 Oct 13"><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1381990236" data-long-form="true">2h</span></a>
                </small>
            </div>
            <p class="js-tweet-text tweet-text">Oracle attacks Open Source spreading FUD <a href="http://t.co/khl5QU5SLO" rel="nofollow" dir="ltr" data-expanded-url="http://olimex.wordpress.com/2013/10/17/oracle-attacks-open-source-spreading-fud-in-document-addressed-to-dod/" class="twitter-timeline-link" target="_blank" title="http://olimex.wordpress.com/2013/10/17/oracle-attacks-open-source-spreading-fud-in-document-addressed-to-dod/"><span class="tco-ellipsis"></span><span class="invisible">http://</span><span class="js-display-url">olimex.wordpress.com/2013/10/17/ora</span><span class="invisible">cle-attacks-open-source-spreading-fud-in-document-addressed-to-dod/</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span>…</span></a> <a href="/search?q=%23OlimexBlog&amp;src=hash" data-query-source="hashtag_click" class="twitter-hashtag pretty-link js-nav" dir="ltr"><s>#</s><b>OlimexBlog</b></a></p>
            <div class="stream-item-footer">
                <div class="context"></div>
                <a class="details with-icn js-details" href="/Olimex/status/390721487247650816">
                    <span class="details-icon js-icon-container">
                        <i class="sm-image"></i>
                    </span>
                    <b>
                        <span class="expand-stream-item js-view-details">
                          View photo
                        </span>
                        <span class="collapse-stream-item js-hide-details">
                          Hide photo
                        </span>
                    </b>
                </a>
                <ul class="tweet-actions js-actions">
                    <li class="action-reply-container">
                        <a role="button" class="with-icn js-action-reply js-tooltip" data-modal="tweet-reply" href="#">
                            <span class="icon sm-reply"></span>
                            <b>Reply</b>
                        </a>
                    </li>
                    <li class="action-rt-container js-toggle-state js-toggle-rt">
                        <a role="button" class="with-icn retweet js-tooltip" data-modal="tweet-retweet" href="#">
                            <span class="icon sm-rt"></span>
                            <b>Retweet</b>
                        </a>
                        <a role="button" class="with-icn undo-retweet js-tooltip" data-modal="tweet-retweet" href="#">
                            <span class="icon sm-rt"></span>
                            <b>Retweeted</b>
                        </a>
                    </li>
                    <li class="action-del-container">
                        <a role="button" class="with-icn js-action-del js-tooltip" href="#">
                            <span class="icon sm-trash"></span>
                            <b>Delete</b>
                        </a>
                    </li>
                    <li class="action-fav-container js-toggle-state js-toggle-fav">
                        <a data-original-title="" role="button" class="with-icn favorite js-tooltip" href="#">
                            <span class="icon sm-fav"></span>
                            <b>Favorite</b>
                        </a>
                        <a role="button" class="with-icn unfavorite js-tooltip" href="#">
                            <span class="icon sm-fav"></span>
                            <b>Favorited</b>
                        </a>
                    </li>
                    <li class="more-tweet-actions">
                        <div class="action-more-container">
                            <div class="dropdown">
                                <button aria-haspopup="true" type="button" class="btn-link with-icn dropdown-toggle js-dropdown-toggle js-tooltip">
                                    <span class="icon sm-more"></span>
                                    <b>More</b>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-caret">
                                        <span class="caret-outer"></span>
                                        <span class="caret-inner"></span>
                                    </div>
                                    <ul>
                                        <li class="embed-link js-embed-tweet" data-nav="embed_tweet">
                                            <button type="button" class="dropdown-link">Embed Tweet</button>
                                        </li>
                                        <li class="report-tweet-link js-report-tweet" data-nav="report_tweet">
                                            <button type="button" class="dropdown-link">Report Tweet</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="expanded-content js-tweet-details-dropdown"></div>
        </div>
    </div>

</body>
</html>