<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://abs.twimg.com/a/1381897480/t1/css/t1_core.bundle.css" type="text/css">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1381897480/t1/css/t1_more.bundle.css" type="text/css">
    <style type="text/css">
        .stream-item-header .avatar, .permalink-header .avatar {
            margin-left: -3px;
            margin-right: 3px;
        }


        body {
            background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
            background-position: left 40px up -20px;
            background-attachment: fixed;
            background-repeat: repeat;
            background-repeat: no-repeat;

            background-color: #C0DEED;
        }
    </style>
</head>
<body>
    <div style="width: 800px; margin: auto; margin-top: 50px; display: block; background-color: white; border-radius: 10px; border-width: 3px;">
    {% for tweet in tweets %}
        <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet has-cards" data-feedback-key="stream_status_390721487247650816" data-tweet-id="390721487247650816" data-item-id="390721487247650816" data-screen-name="Olimex" data-name="OLIMEX Ltd" data-user-id="38416919"
                DISABLEDdata-expanded-footer="
                    <div class=&quot;js-tweet-details-fixer tweet-details-fixer&quot;>
                        <div class=&quot;card2 &quot; data-card2-name=&quot;photo&quot;>
                            <div class=&quot;js-macaw-cards-iframe-container&quot;
                                    data-src=&quot;/i/cards/tfw/v1/390721487247650816&quot;
                                    data-card-name=&quot;photo&quot;
                                    data-card-url=&quot;http://t.co/khl5QU5SLO&quot;
                                    data-publisher-id=&quot;823905&quot;
                                    data-creator-id=&quot;38416919&quot;>
                            </div>

                        </div>

                        <div class=&quot;entities-media-container &quot; style=&quot;min-height:0px&quot;></div>

                        <div class=&quot;js-machine-translated-tweet-container&quot;></div>
                        <div class=&quot;js-tweet-stats-container tweet-stats-container &quot;></div>

                        <div class=&quot;client-and-actions&quot;>
                            <span class=&quot;metadata&quot;>
                                <span title=&quot;11:10 PM - 16 Oct 13&quot;>11:10 PM - 16 Oct 13</span>
                                &amp;middot; <a class=&quot;permalink-link js-permalink js-nav&quot; href=&quot;/Olimex/status/390721487247650816&quot;  tabindex=&quot;-1&quot;>Details</a>
                                <span class=&quot;flag-container flag-cards&quot;>
                                    <button type=&quot;button&quot; class=&quot;flaggable btn-link&quot;>
                                    Flag media
                                    </button>

                                    <span class=&quot;flagged hidden&quot;>
                                    Flagged
                                        <span>
                                            <a target=&quot;_blank&quot; href=&quot;//support.twitter.com/articles/20069937&quot;>
                                            (learn more)
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>"
                data-you-follow="true" data-you-block="false">

        <div class="content">
            <div class="stream-item-header">
                    <img class="avatar js-action-profile-avatar" src="{{ tweet.user.profile_image_url }}" alt="">
                    <strong class="fullname js-action-profile-name show-popup-with-id">{{ tweet.user.name }}</strong>
                    <span>‏</span>
                    <span class="username js-action-profile-name"><s>@</s><b>{{ tweet.user.screen_name }}</b></span>

                <small class="time">
                    <a href="/Olimex/status/390721487247650816" class="tweet-timestamp js-permalink js-nav" title="11:10 PM - 16 Oct 13"><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1381990236" data-long-form="true">2h</span></a>
                </small>
            </div>
            <p class="js-tweet-text tweet-text">{{ tweet.text }}</p>
        </div>
    </div>
    {% endfor %}
    </div>
</body>
</html>